/* Styling information for my portfolio */

body{
    background-color: #f4f7fb;
    color: #222222;
    margin:0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #1f3b57;
    color:white;
    text-align: center;
    padding:30px 20px;
}

header h1{
    margin-bottom: 5px;
}

.tagline
{
    font-size: 18px;
    margin-top:0;
}

nav{
    margin-top: 20px;
}

header nav a{
    color: white;
    text-decoration: none;
    margin:0 10px;
}

header nav a:hover{
    text-decoration: underline;
}

main{
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

.hero,
.card,
aside,
#about {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: 10px 0;
}

.hero img{
    margin-top:15px;
    border-radius: 10px;
}

footer{
    background-color: #1f3b57;
    color:white;
    padding: 20px;
    text-align: center;
}

footer a{
    color: white;
}

/* Week 2: Advanced HTML Styling for Project.html page */

table{
    width:100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td{
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
}

caption{
    font-weight: bold;
    margin-bottom: 10px;
}

th{
    background-color: #e8eef5;
}

label{
    display: block;
    margin-top:12px;
    font-weight: bold;
}

fieldset {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

input, select, textarea{
      width:99%;
      padding:10px 1%; 
      margin-top:5px;
}

input[type="radio"], input[type="checkbox"]{
    width:auto;
}

button{
    display: inline-block;
    background-color: #1f3b57;
    color:white;
    text-decoration: none;
    border:1px solid #1f3b57;
    border-radius: 6px;
    padding: 10px 16px;
    cursor: pointer;
}

button:hover{
    /* background-color: #3c6fa2; */
    background-color: white;
    color:#1f3b57;
   
}

/* Desktop view */
@media screen and (min-width:800px)
{
    main 
    {
        display:grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .nestedgrid
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}